[Unit]
Description=Vector
Documentation=https://vector.dev
After=network-online.target
Requires=network-online.target

[Service]
User=vector
Group=vector
ExecStartPre=/opt/vector-x86_64-unknown-linux-musl/bin/vector validate -C /opt/vector-x86_64-unknown-linux-musl/config/
ExecStart=/opt/vector-x86_64-unknown-linux-musl/bin/vector -C /opt/vector-x86_64-unknown-linux-musl/config/
ExecReload=/opt/vector-x86_64-unknown-linux-musl/bin/vector validate -C /opt/vector-x86_64-unknown-linux-musl/config/
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
AmbientCapabilities=CAP_NET_BIND_SERVICE
StartLimitInterval=10
StartLimitBurst=5

[Install]
WantedBy=multi-user.target